<div class="container my-5">
    <div class="titlepage">
        <h2>Danh sách căn hộ muốn xem</h2>
    </div>
    <table id="bookingsTable" class="table table-striped table-bordered pt-5" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Căn hộ</th>
                <th>Quận Huyện</th>
                <th>Phường Xã</th>
                <th>Giá</th>
                <th>Cọc</th>
                <th>Trạng thái</th>
                <th>Chức năng</th>
            </tr>
        </thead>
    </table>
</div>
