<div class="voucher">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>ƯU ĐÃI</h2>
                    <p>Giá cực hấp dẫn</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="listVoucher" class="owl-carousel">
                <!--Đẩy dữ liệu bằng ajax-->
            </div>
        </div>
    </div>
</div>