
<div class="layout-demo-wrapper">
    <div class="card shadow-lg container p-5">
        <div class="titlepage">
            <h2>Chi tiết khu vực</h2>
        </div>
        <h3><strong>ID:</strong> @Model.Id</h3>
        <h3><strong>Tên khu vực:</strong> @Model.Name</h3>

        <a href="@Url.Action("Index", "Area")" class="btn btn-secondary m-5">Quay lại</a>
    </div>
</div>