    <!-- banner -->
<section class="banner_main">
    <div class="booking_online">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1">
                </div>
                <div class="col-4">
                    <div class="book_room p-4 shadow-lg rounded bg-black">
                        <h2 class="text-center mb-4 text-white" style="font-size: 2rem;">CẦN TÌM MỘT CĂN HỘ ?</h2>
                        <p class="text-center text-white mb-4" style="font-size: 1.3rem;">
                            FPT Apartment là website tổng hợp tất cả các căn hộ tại Đà Nẵng giúp bạn có thể dễ dàng tìm kiếm một căn hộ trong mơ của mình một cách dễ dàng và thuận tiện nhất.
                        </p>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="/Rooms" class="book_btn btn btn-danger w-100 py-2" style="font-size: 1.5rem;">
                                    Tìm căn hộ lý tưởng của bạn
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!-- end banner -->
<!-- Loại phòng -->
<div class="our_room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>CĂN HỘ</h2>
                    <p>Đa dạng - Phù hợp - Tiện nghi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="listRoomType" class="owl-carousel">
                <!--Đẩy dữ liệu bằng ajax-->
            </div>
        </div>
    </div>
</div>
<!-- Loại phòng -->
<!-- Ưu đãi -->
<div class="voucher">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>ƯU ĐÃI</h2>
                    <p>Giá cực hấp dẫn</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="listVoucher" class="owl-carousel">
                <!--Đẩy dữ liệu bằng ajax-->
            </div>
        </div>
    </div>
</div>
<!--Ưu đãi -->
<!--  contact -->
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>LIÊN HỆ CHÚNG TÔI</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form id="request" class="main_form" asp-action="Contact" asp-controller="Hotel">
                    <div class="row">
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Họ tên" type="text" name="Name">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Email" type="email" name="Email">
                        </div>
                        <div class="col-md-12">
                            <input class="contactus" placeholder="Số điện thoại" type="text" name="PhoneNumber">
                        </div>
                        <div class="col-md-12">
                            <textarea class="textarea" placeholder="Nội dung" name="Message"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="send_btn">Gửi</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-6">
                <div class="map_main">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7714039449547!2d108.21084937460013!3d16.0773479392216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142184792140755%3A0xd4058cb259787dac!2sUniversity%20of%20Technology%20and%20Education%20-%20University%20of%20%C4%90%C3%A0%20N%E1%BA%B5ng!5e0!3m2!1sen!2s!4v1730629378836!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->
