<div class="container pt-5" style="min-height:400px;">

    <div class="row g-3 align-items-center">
        <div class="col-md-6">
            <label for="roomType" class="form-label">Chọn căn hộ:</label>
            <select id="roomType" class="form-select">
                <!-- Các option phòng sẽ được điền bằng AJAX -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="price" class="form-label">Giá:</label>
            <select id="price" class="form-select">
                <option value="0">Mặc định</option>
                <option value="1">Thấp đến cao</option>
                <option value="2">Cao đến thấp</option>
            </select>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-md-6">
            <label for="QuanHuyen" class="form-label">Chọn Quận Huyện:</label>
            <select id="QuanHuyen" class="form-select">
                <!-- Các option phòng sẽ được điền bằng AJAX -->
            </select>
        </div>
        <div class="col-md-6">
            <label for="PhuongXa" class="form-label">Chọn Phường Xã:</label>
            <select id="PhuongXa" class="form-select">
                <option value="">Chọn Phường/Xã</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div id="listAmenities" class="col-12">
            <!-- Các checkbox tiện nghi sẽ được điền bằng AJAX -->
        </div>
    </div>
    <button class="btn btn-outline-danger" id="filterBtn">Tìm căn hộ ngay</button>
</div>

<div class="container mt-5">
    <div class="row" id="room-container">
        <!-- AJAX sẽ render dữ liệu tại đây -->
    </div>
</div>
<!-- Modal -->
<div class="modal fade mt-xxl-5 pt-xxl-5" id="roomDetailModal" tabindex="-1" aria-labelledby="roomDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="margin: 100px 0; width:600px;">
            <div class="modal-header bg-dark">
                <h2 class="modal-title w-100" id="roomDetailModalLabel"><span class="text-center w-100 d-block text-light fw-bold">Chi tiết căn hộ</span></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="roomDetailModalBody">
                <!-- Nội dung chi tiết phòng sẽ được tải ở đây -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/loadData/LoadComboBoxViTri.js"></script>
}