<div class="our_room">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>CĂN HỘ</h2>
                    <p>Đa dạng - Phù hợp - Tiện nghi</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="listRoomType" class="owl-carousel">
                <!--Đẩy dữ liệu bằng ajax-->
            </div>
        </div>
    </div>
</div>